body {
	background: url("http://i.imgur.com/vNTB7.jpg") no-repeat center center fixed; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

h1 {
	font-family: "Times New Roman";
	font-size: 75px;
	
}

h4 {
	font-family: "Times New Roman";
	font-size: 30px;
	
}

#jumbotron {
	color: white;
	text-align: center;
}

#post-ul {
	color: rgba(255,255,255,0.95);
	font-size: 25px;
}

#movebro{
	margin-right:30px;
}

.list-group-item {
	background-color: rgba(0,0,0,.75);
}

