<h2 class="phil"><%= cal.locale['d' + start.getDate()] %> <%= start.getDate() %> <%= cal.locale['m' + start.getMonth()] %> <%= (start.getYear() + 1900) %></h2>


<div class = "container">
      
      
    <!-- form to enter new post -->
  	<div class="col-md-4   text-left">  
	    <form class="form-inline" id="new-post-form">
	      <input name="name" type="text" class="form-control" id="post-name-input" placeholder="Name">
	      <input name="message" type="text" class="form-control" id="post-message-input" placeholder="Message">
	      <button type="submit" class="btn btn-primary">fuck</button>
	    </form>
    </div>
     
      <!-- container for appended new post -->
        

</div>



<script>

</script> 

